button {
  cursor: pointer;
  padding: var(--pad);
  border: none;
  border-radius: var(--radius);
  font-weight: 600; }
  button.icon {
    padding-left: 36px;
    position: relative; }
    button.icon i {
      background-color: rgba(0, 0, 0, 0.2);
      font-style: normal;
      width: 31.5px;
      height: 31.5px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--radius) 0 0 var(--radius);
      position: absolute;
      left: 0;
      top: 0; }
      button.icon i img {
        height: 18px; }
  button.primary, button.success, button.danger {
    color: #fff; }
    button.primary img, button.success img, button.danger img {
      filter: invert(1); }
  button.primary {
    background-color: var(--primary); }
  button.warning {
    background-color: var(--warning);
    color: var(--contrast-high); }
    button.warning img {
      height: 18px;
      filter: invert(0) !important; }
  button.success {
    background-color: var(--success); }
  button.danger {
    background-color: var(--danger); }

button.icon.hover * {
  transition: all 200ms ease-out; }

button.icon.hover:hover i {
  width: 100%;
  background: inherit;
  border-radius: var(--radius); }
