.card {
  margin: var(--pad) 0;
  border: 1px solid var(--contrast);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column; }
  .card figure {
    margin: 0;
    overflow: hidden;
    border-radius: 2px;
    max-height: 150px;
    transition: 250ms all ease-in-out; }
    .card figure img {
      transition: 5250ms all ease-in-out; }
    .card figure:hover {
      max-height: 400px; }
      .card figure:hover img {
        transform: scale(1.1); }
  .card header {
    padding: var(--pad);
    font-weight: 600;
    font-size: 1.2em; }
  .card footer {
    border-top: 1px solid var(--contrast);
    display: flex;
    justify-content: stretch;
    align-items: center; }
    .card footer > * {
      flex: 1;
      padding: var(--pad); }
  .card_content {
    flex: 1;
    padding: var(--pad); }
