.card {
  margin: var(--pad) 0;
  border: 1px solid var(--contrast);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column; }
  .card figure {
    margin: 0;
    overflow: hidden;
    border-radius: 2px 2px 0 0;
    max-height: 150px;
    transition: 250ms all ease-in-out; }
    .card figure img {
      transition: 5250ms all ease-in-out; }
    .card figure:hover {
      max-height: 400px; }
      .card figure:hover img {
        transform: scale(1.1); }
  .card header {
    padding: var(--pad);
    font-weight: 600;
    font-size: 1.2em; }
  .card footer {
    border-top: 1px solid var(--contrast);
    display: flex;
    justify-content: stretch;
    align-items: center; }
    .card footer > * {
      flex: 1;
      padding: var(--pad); }
  .card_content {
    flex: 1;
    padding: var(--pad); }

:root {
  --primary: hsl(204, 90%, 45%);
  --success: hsl(102, 63%, 48%);
  --warning: hsl(48, 100%, 50%);
  --danger: hsl(18, 88%, 46%);
  --background: #eff;
  --contrast: #ddd;
  --contrast-medium: rgb(121, 121, 121);
  --contrast-high: #111;
  --pad: 8px;
  --radius: 3px;
  --shadow: 0 1px 0px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24); }

.html {
  color: var(--contrast-high);
  background-color: var(--background); }

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
  gap: 10px; }
  @media screen and (min-width: 1381px) {
    section {
      grid-template-columns: repeat(5, 1fr); } }
  @media screen and (max-width: 1380px) {
    section {
      grid-template-columns: repeat(4, 1fr); } }
  @media screen and (max-width: 1080px) {
    section {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (max-width: 880px) {
    section {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (max-width: 500px) {
    section {
      grid-template-columns: repeat(1, 1fr); } }

.navbar {
  display: flex;
  background-color: var(--contrast); }
  .navbar a {
    text-decoration: none;
    color: var(--contrast-medium);
    padding: var(--pad); }

button {
  padding: var(--pad);
  box-shadow: var(--shadow);
  border: 2px groove rgba(0, 0, 0, 0.2);
  font-weight: 600; }
  button.icon {
    padding-left: 20px; }
  button.primary, button.warning, button.success, button.danger {
    color: #fff; }
  button.primary {
    background-color: var(--primary); }
  button.warning {
    background-color: var(--warning);
    color: var(--contrast-high); }
  button.success {
    background-color: var(--success); }
  button.danger {
    background-color: var(--danger); }

.example-class {
  color: dodgerblue; }
