.badge {
    padding: calc(var(--pad) / 2) var(--pad);
    border-radius: 100px;
    font-size: .8em;
    text-transform: lowercase;
    letter-spacing: 1px;
    
    background-color: var(--neutral-mid);
    color: var(--neutral-6);
    &.primary {
        background-color: var(--primary-light);
        color: var(--primary-dark);

    }
    &.warning {
        background-color: var(--warning-light);
        color: var(--warning-dark);

    }
    &.success {
        background-color: var(--success-light);
        color: var(--success-dark);

    }
    &.danger {
        background-color: var(--danger-light);
        color: var(--danger-dark);
    }
}