button {
    cursor: pointer;
    padding: var(--pad);
    border: none;
    border-radius: var(--radius);
    font-weight: 600;
    color: white;
    background-color: var(--neutral-dark);
    &[disabled] {
        opacity: .5;
        cursor: not-allowed;
    }


    &.icon {
        padding-left: 36px;
        position: relative;
    
        i {
            img {
                height: 18px;
            }
            background-color: rgba(0,0,0,.2);
            font-style: normal;
            width: 30px;
            height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--radius) 0 0 var(--radius);
            position: absolute;
            left: 0;
            top: 0;
        }
    }



    img {
        filter: invert(1);
    }
    &.primary ,&.success, &.danger {
        img {
            filter: invert(1);
        }
    }

    &.primary {
        background-color: var(--primary-mid);
    }
    &.warning {
        background-color: var(--warning-mid);
        img {
            height: 18px;
            filter: invert(1) !important;
        }
    }
    &.success {
        background-color: var(--success-mid);
    }
    &.danger {
        background-color: var(--danger-mid);
    }
}

button.icon.hover {
    * {

        transition: all 200ms ease-out;
    }
}

button.icon.hover:hover {
    i {
        width: 100%;
        background: inherit;
        border-radius: var(--radius);
    }
}
