.card {
    margin: var(--pad) 0;
    background: light-dark(oklch(95% 0 265), oklch(10% 0 265));
    // border: var(--border-width) solid var(--neutral-light);
    border-radius: var(--radius);
    box-shadow: var(--card-shadow);
    display: flex;
    flex-direction: column;
    figure {
        margin: 0;
        overflow: hidden;
        border-radius: 2px 2px 0 0;
        max-height: 150px;
        transition: 250ms all ease-in-out;
        img {
            transition: 250ms all ease-in-out;

            width: 100%;
        }
        &:hover {
            max-height: 400px;
            img {
                transform: scale(1.1);
            }
        }

    }
    header {
        padding: var(--pad);
        font-weight: 600;
        font-size: 1.2em;
    }
    footer {
        border-top: 1px solid var(--contrast);
        display: flex;
        justify-content: stretch;
        align-items: center;
        > * {
            flex: 1;
            padding: var(--pad);
        }
    }
    &_content {
        flex: 1;
        padding: var(--pad);
    }
}

