ul {
    margin: var(--pad) 0;
    padding: 0;
    border: 1px solid var(--neutral-3);
    list-style: none;
    &.large {
        li {
            padding: calc(var(--pad) * 2);
        }
        
    }
    li {
        position: relative;
        padding: var(--pad);
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            display: block;
            height: 1px;
            width: 100%;
            background: var(--neutral-3);
        }

    }
}