.switch {
    margin: 6px 0;
    border: var(--border-width) solid;
    border-color: light-dark(var(--neutral-mid) var(--neutral-light));
    border-radius: 9999px;
    width: 40px;
    height: 20px;
    position: relative;
    transition: border-color 215ms ease-in-out;
    &:has(input:checked) {
      border-color: var(--primary-mid);
    }

  input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  label {
    cursor: pointer;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: var(--neutral-dark);
    border-radius: 9999px;
    transition: all 215ms ease-in-out;
  }
  
  input:checked + label::before {
    background: var(--primary-mid);
    transform: translateX(20px);
  }
}
  